{% extends 'base.html' %}
{% load static %}

{% block title %}ISO41001 - TIS Certification{% endblock %}

{% block extra_css %}
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/industries/BankingandFinance.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    </head>
    <body>
{% endblock %}


{% block content %}


    <div class="canvas">

        <div class="heading">
            <div class="heading-content container">

                <h1>Banking and Finance</h1>
                <div class="bread">
                    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="text-white">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#" style="color: white;">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page" style="color: white;">ISO Certification for Banking and Finance</li>
                        </ol>
                    </nav>
                </div>

            </div>



        </div>



<div class="content">
    
    <!-- About -->
    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>About</h2>
            </div>
            <div class="section-para">
                <p>The banking and finance sector represents approximately 20–25% of the global economy, serving as a cornerstone of worldwide economic stability and growth. It plays a pivotal role in providing the credit and capital required for the smooth functioning of various industries. Financial institutions act as intermediaries between savers and borrowers, while also contributing to the formulation and implementation of monetary policies that sustain economic balance. Furthermore, this sector enables businesses across different domains to expand their operations and increase profitability by facilitating access to essential financial resources.</p>
            </div>
        
        </div>
    </div>

    <!--About-->
    


    



    <div class="section">
        <div class="sec-container container">
            
        <div class="section-para">
            <div class="key-standards-box">
                <div>
                    <div class="key-standards-heading">
                        <h3> Key ISO Standards for Banking and Finance Industry</h3>
                    </div>
                    <div class="key-standards row">
                        
                            <div class="key-standards-item-button">
                                <h4>ISO 9001</h4>
                            </div>
                        

                        
                            <div class="key-standards-item-button">
                                <h4>ISO 27001</h4>
                            </div>
                        

                        
                            <div class="key-standards-item-button">
                                <h4>ISO/IEC 27701</h4>
                            </div>


                            <div class="key-standards-item-button">
                                <h4>ISO 37001</h4>
                            </div>
                        

                        
                            <div class="key-standards-item-button">
                                <h4>ISO 26000</h4>
                            </div>

                            <div class="key-standards-item-button">
                                <h4>ISO/IEC 20000-1</h4>
                            </div>

                            <div class="key-standards-item-button">
                                <h4>ISO 22301</h4>
                            </div>

                            
                            
                        
                            
                    </div>

                </div>
            </div>
            
        </div>
        
    </div>
    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2> ISO Certificates Applicable for Banking and Finance Industry</h2>
            </div>
            <div class="section-para">
                <p>Below is a list of ISO certifications that the banking and finance sector can obtain to enhance internal processes, strengthen management systems, and ensure operational excellence:</p>
            </div>
            

            <!-- Custom Accordion -->
                <div class="custom-accordion" id="customAccordion">
                    <!-- Section 4 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO/IEC 27001:2022 – Information Security Management System (ISMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>In today’s digital era, where technological advancements and digitization drive global progress, safeguarding information has become paramount—especially in the banking and finance sector. The ISO/IEC 27001 certification enables financial institutions to establish a robust Information Security Management System (ISMS) that protects sensitive and confidential data. It ensures the implementation of effective security controls and measures to prevent data breaches, manage risks, and maintain customer trust.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 5 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO/IEC 27701:2019 – Privacy Information Management System (PIMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Privacy and information security are complementary yet distinct aspects of data protection. The ISO/IEC 27701 certification provides a structured framework for managing personal and sensitive information responsibly. For banking and financial institutions that handle large volumes of customer data, this certification ensures transparency and accountability by defining processes that allow customers control over how their information is accessed and used.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 6 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 9001:2015 – Quality Management System (QMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Quality is the cornerstone of customer satisfaction and operational excellence. As a leading service-based industry, banking and finance institutions must consistently deliver superior services that meet evolving customer expectations. ISO 9001 certification provides a globally recognized framework for establishing an effective Quality Management System (QMS), helping organizations streamline internal processes, enhance service quality, and continually improve performance.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 14001:2015 – Environmental Management System (EMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>The ISO 14001 standard supports the development of an Environmental Management System (EMS) aimed at improving an organization’s environmental performance. For banks and financial institutions, it encourages the adoption of sustainable practices and the identification of operations that impact the environment. By reducing their ecological footprint, financial organizations can demonstrate their commitment to environmental responsibility and corporate sustainability.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 45001:2018 – Occupational Health and Safety Management System (OHSMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>ISO 45001 provides a comprehensive framework for creating and maintaining a safe and healthy workplace. For the banking and finance sector, it emphasizes proactive risk management, compliance with health and safety regulations, and the promotion of employee well-being. Achieving this certification demonstrates an organization’s commitment to minimizing workplace hazards and ensuring the safety of both employees and customers.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 22301:2019 – Business Continuity Management System (BCMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Operational resilience is essential in the financial sector, where uninterrupted service is critical. The ISO 22301 certification establishes a Business Continuity Management System (BCMS) that helps organizations prepare for, respond to, and recover from disruptive incidents. By implementing this standard, banks and financial institutions can ensure business continuity, minimize downtime, and maintain service reliability under unforeseen circumstances.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 37001:2018 – Anti-Bribery Management System (ABMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Integrity and transparency are fundamental to the credibility of financial institutions. ISO 37001 certification offers a structured approach to implementing an Anti-Bribery Management System (ABMS), helping organizations prevent, detect, and address bribery-related risks. It fosters a culture of ethical conduct, strengthens stakeholder trust, and ensures compliance with anti-corruption laws and corporate governance principles.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">ISO 41001:2018 – Facility Management System (FMS)</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>ISO 41001 defines the framework for establishing an efficient Facility Management System (FMS) that integrates multiple disciplines to enhance operational performance. In the context of the banking and finance sector, this certification ensures that physical assets and facilities are managed effectively to support business goals, improve workplace efficiency, and contribute to the overall health, safety, and well-being of employees and communities.</p>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                   
                </div>

            
            </div>
       
        
        
    </div>


    
    

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Services and Organization Controls (SOC) Certification</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    
                    <p style="margin-bottom: 0px;">System and Organization Controls (SOC) certification plays a vital role in ensuring data protection and information security. It requires organizations to adhere to globally recognized best practices and SOC guidelines for safeguarding customer information. Additionally, this certification strengthens five key areas—security, availability, processing integrity, confidentiality, and privacy—thereby enhancing an organization’s credibility, operational reliability, and overall brand reputation.</p>
                    
                    
                    
                </div>
            </div>
        </div>
       
    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>Capability Maturity Model Integration (CMMI) Certification</h2>
            </div>
            <div class="section-para">
                <p>The Capability Maturity Model Integration (CMMI) certification enables organizations to enhance the quality of their products and services through structured process improvement. It focuses on optimizing operational strategies by identifying inefficiencies and addressing critical challenges. Furthermore, the certification equips businesses with effective tools to manage, monitor, and continuously improve both current and future operations.</p>
                
                
            </div>
        
        </div>
    </div>


    

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>General Data Protection Regulation (GDPR)</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    
                    <p style="margin-bottom: 0px;">The General Data Protection Regulation (GDPR) serves as a critical framework for ensuring data privacy and information security in the digital era. It applies to all organizations operating within the European Union (EU) or handling the personal data of EU citizens, enforcing stringent data protection requirements. GDPR safeguards the personal information of employees, employers, and third parties, promoting transparency and accountability in data handling. Non-compliance with GDPR can result in substantial fines and reputational damage, underscoring the importance of adhering to its regulatory standards.</p>
                    
                    
                    
                </div>
            </div>
        </div>
       
    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>Conclusion</h2>
            </div>
            <div class="section-para box-big">
               <p style="margin-bottom: 0px;">The International Organization for Standardization (ISO) has established a range of standards designed to enhance the operational efficiency and management systems of the banking and finance sector. ISO certifications serve as a mark of excellence, guiding institutions toward achieving the highest levels of quality, security, and integrity. Moreover, these certifications act as a strategic asset, enabling financial organizations to safeguard sensitive information, ensure seamless communication, and maintain business continuity in the face of unforeseen disruptions.</p>
        </div>
        
    </div>




 <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button
                    this.classList.toggle('active');
                    
                    // Toggle active class on parent accordion item
                    const accordionItem = this.closest('.accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items if needed (optional)
                    // accordionButtons.forEach(otherButton => {
                    //     if (otherButton !== this) {
                    //         otherButton.classList.remove('active');
                    //         otherButton.closest('.accordion-item').classList.remove('active');
                    //     }
                    // });
                });
            });
        });
    </script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.question-accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button and parent accordion item
                    this.classList.toggle('active');
                    const accordionItem = this.closest('.question-accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items when one is opened (optional)
                    if (this.classList.contains('active')) {
                        accordionButtons.forEach(otherButton => {
                            if (otherButton !== this && otherButton.classList.contains('active')) {
                                otherButton.classList.remove('active');
                                otherButton.closest('.question-accordion-item').classList.remove('active');
                            }
                        });
                    }
                });
            });
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.gradiant-accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button and parent accordion item
                    this.classList.toggle('active');
                    const accordionItem = this.closest('.gradiant-accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items when one is opened (optional)
                    if (this.classList.contains('active')) {
                        accordionButtons.forEach(otherButton => {
                            if (otherButton !== this && otherButton.classList.contains('active')) {
                                otherButton.classList.remove('active');
                                otherButton.closest('.gradiant-accordion-item').classList.remove('active');
                            }
                        });
                    }
                });
            });
        });
    </script>
    
        
    </body>
</html>
{% endblock %}