{% extends 'base.html' %}
{% load static %}

{% block title %}ISO41001 - TIS Certification{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ISO41001.css' %}">
<link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/static/css/ISO13485.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}


{% block content %}


        <div class="canvas">

    <div class="heading">
        <div class="heading-content container">

            <h1>ISO 13485</h1>
            <div class="bread">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="text-white">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" style="color: white;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" style="color: white;">ISO 13485 Certification</li>
                    </ol>
                </nav>
            </div>

        </div>



    </div>


</div>
<div class="content">
    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>About ISO 13485 Certification</h2>
        </div>
        <div class="section-para">
            <p><b>ISO 13485:2016 is an internationally recognized standard that defines the requirements for a Quality Management System (QMS) specific to the design and manufacture of medical devices.</b></p>
            <p>ISO 13485:2016 is an internationally recognized standard that defines the requirements for a Quality Management System (QMS) specific to the design, development, and manufacture of medical devices. It provides a comprehensive framework to ensure that organizations consistently meet both customer expectations and applicable regulatory requirements in the medical device industry.</p>
            <p>The standard applies to organizations involved in all stages of the medical device lifecycle — including design, development, production, storage, distribution, installation, and servicing. By adhering to ISO 13485, companies demonstrate their commitment to maintaining product safety, reliability, and quality while complying with international regulatory frameworks.</p>
            <p>ISO 13485 establishes a structured approach to implementing an effective Medical Device Quality Management System (MD-QMS). It helps organizations identify and manage risks associated with equipment contamination, product handling errors, and other operational challenges. Through systematic risk assessment and preventive planning, the standard enhances process efficiency and minimizes potential failures.</p>
            <p>Certification to ISO 13485:2016 serves as tangible evidence of an organization’s capability to deliver high-quality, safe, and compliant medical devices and related services. It reinforces customer confidence and facilitates access to global markets by aligning with recognized regulatory expectations.</p>
            <p>With the support of our extensive network of qualified auditors worldwide, we help organizations achieve ISO 13485 certification efficiently and seamlessly, ensuring full compliance and a smooth certification process.</p>
        </div>
        </div>
        
    </div>



    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>Principles for ISO 13485  Certification</h2>
            </div>
            <div class="section-para section-card">
                

                <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Customer focus</h5>
                                    <p class="mb-0">Organizations must continuously strive to improve customer satisfaction and address the needs of all interested parties. A strong customer focus helps sustain existing clients, attract new ones, and ensure that expectations are effectively communicated throughout the organization. Regularly monitoring customer feedback and aligning business practices with their requirements supports long-term success and loyalty.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Leadership</h5>
                                    <p class="mb-0">Leadership plays a vital role in achieving quality objectives by setting a unified vision and aligning strategies, policies, and resources. Effective leaders cultivate a culture of trust, integrity, and accountability within the organization. By empowering employees with proper authority, guidance, and training, leadership enhances coordination, commitment, and overall organizational performance and growth.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Engagement of People</h5>
                                    <p class="mb-0">Employee involvement at all organizational levels enhances efficiency and collaboration. Engaging people through open communication, knowledge sharing, and recognition of contributions strengthens motivation and commitment. Encouraging continuous learning and improvement empowers employees to take ownership of their responsibilities and contribute to the organization’s overall effectiveness and success.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Process Approach</h5>
                                    <p class="mb-0">A process-oriented approach enables organizations to manage activities more effectively by understanding interrelated processes. This approach ensures that resources are used efficiently and outcomes are predictable and consistent. By identifying capabilities and constraints before execution, organizations can achieve better control, reduce inefficiencies, and continuously enhance the quality of their results.</p>
                                </div>
                            </div>
                            
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Improvement</h5>
                                    <p class="mb-0">Continuous improvement is vital for maintaining and advancing organizational performance. This involves providing adequate training, tracking and reviewing work processes, and conducting regular audits. Recognizing achievements and addressing internal and external risks and opportunities lead to enhanced process efficiency and sustained growth.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Evidence-based Decisions</h5>
                                    <p class="mb-0">Sound decisions should be based on accurate data analysis and factual evidence. Evaluating reliable information supports the identification of effective and efficient solutions. Learning from previous outcomes and incorporating measurable insights enhance decision quality. While data-driven methods are crucial, well-informed intuition should also guide practical organizational actions.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Relationship Management</h5>
                                    <p class="mb-0">Building and maintaining strong relationships with stakeholders, suppliers, and partners are essential for organizational success. Managing a stable and transparent supply chain ensures a consistent flow of products and services. Identifying key relationships and maintaining mutual trust enhances collaboration, reliability, and long-term value creation across all business processes.</p>
                                </div>
                            </div>
                            
                        </div>
                        
            
            </div>
        </div>
        
    </div>
    </div>


    

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Importance of ISO 13485 Certification</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    <ul style="margin-bottom: 0px;">
                        <li>Ensures compliance with international regulatory requirements, including EU MDR and FDA standards.</li>
                        <li>Enhances customer confidence by demonstrating a commitment to product quality and patient safety.</li>
                        <li>Supports business expansion by meeting criteria for international market access.</li>
                        <li>Reduces operational and product-related risks through the implementation of systematic quality management practices.</li>
                    </ul>
                    
                </div>
            </div>
        </div>
       
    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>Benefits of ISO 13485</h2>
        </div>
        <div class="section-para">
            <p>ISO 13485 is applicable to organizations across all stages of the medical device lifecycle, including design, development, manufacturing, storage, and distribution of the final product. Its scope extends beyond the product itself, covering related services and technical support, whether provided on-site or remotely, ensuring comprehensive quality management throughout all associated activities.</p>
            <p>As an internationally recognized standard, implementing a Medical Device Quality Management System (MD-QMS) in line with ISO 13485 offers significant advantages. It not only strengthens regulatory compliance and operational efficiency but also helps reduce costs and enhance overall organizational performance. Key benefits of ISO 13485 certification include the following:</p>
        
            <div class="benefits-grid">
                <div class="benefits-grid">
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-handshake"></i></div>
                        <h3>Stakeholder Confidence</h3>
                        <p>Better management reliability builds stronger stakeholder relationships</p>
                    </div>
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-award"></i></div>
                        <h3>Enhanced Trust</h3>
                        <p>Boosts your image and makes you trustworthy in customers' eyes</p>
                    </div>
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-clipboard-check"></i></div>
                        <h3>Product Quality</h3>
                        <p>Ensures quality and consistency of medical devices per ISO 13485</p>
                    </div>
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-globe"></i></div>
                        <h3>Global Recognition</h3>
                        <p>The global acceptibility of ISO 13485 certification enables wider reach</p>
                    </div>
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-file-contract"></i></div>
                        <h3>Legal Compliance</h3>
                        <p>Recognized by GHTF as the standard for medical device quality systems</p>
                    </div>
                    <div class="benefit-card">
                        <div class="card-icon"><i class="fas fa-stethoscope"></i></div>
                        <h3>FDA Alignment</h3>
                        <p>Also covers Food and Drug Administration requirements</p>
                    </div>
                </div>
            </div>

           

        </div>
        </div>
        
    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>ISO 13485 Certification Scope and Coverage</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    <p><b>Non-Active Medical Devices (A.1)</b></p>
                    <p>Initially, the MD-QMS accreditation covered one Main Technical Area (MTA), focusing on non-active medical devices. This includes:</p>
                    <ul>
                        <li>A.1.1 General Non-Active, Non-Implantable Medical Devices – Devices that operate without power, such as surgical instruments, bandages, and other basic medical tools.</li>
                        <li>A.1.2 Non-Active Implants – Includes medical implants like orthopedic screws, plates, and dental implants.</li>
                        <li>A.1.3 Devices for Wound Care – Products designed to support healing, such as dressings and wound-closure strips.</li>
                        <li>A.1.4 Non-Active Dental Devices and Accessories – Instruments and accessories used in dental procedures.</li>
                        <li>A.1.5 Other Non-Active Medical Devices – Additional non-powered devices that fall under this category.</li>
                    </ul>
                    <p><b>In Vitro Diagnostic (IVD) Medical Devices (A.4)</b></p>
                    <p>Following the 2024–25 surveillance audit, the scope of MD-QMS was expanded to include three additional MTAs, including IVD medical devices. These include:</p>
                    <ul>
                        <li>A.4.1 Reagents, Calibrators, and Control Materials for diagnostic testing in areas such as:</li>
                        <ul>
                            <li>Clinical Chemistry</li>
                            <li>Immunochemistry (Immunology)</li>
                            <li>Hematology / Haemostasis / Immunohematology</li>
                            <li>Microbiology</li>
                            <li>Infectious Immunology</li>
                            <li>Histology / Cytology</li>
                            <li>Genetic Testing</li>
                        </ul>
                        <li>A.4.2 In Vitro Diagnostic Instruments and Software – Devices and related software used in diagnostic testing.</li>
                        <li>A.4.3 Other IVD Medical Devices – Additional products classified under the IVD category.</li>
                        <li>Sterilization Methods for Medical Devices (A.5)</li>
                    
                        <p style="margin-bottom: 0px;">Ensuring medical devices are contamination-free is critical. ISO 13485 includes compliance with sterilization processes such as:</p>
                    
                        <ul>
                            <li>A.5.1 Ethylene Oxide Gas Sterilization (EOG) – Used for heat-sensitive devices.</li>
                            <li>A.5.2 Moist Heat – Common method using steam under pressure.</li>
                            <li>A.5.3 Aseptic Processing – Ensures sterile environments during production.</li>
                            <li>A.5.4 Radiation Sterilization – Uses gamma rays, e-beams, or X-rays.</li>
                            <li>A.5.5 Other Sterilization Methods – Covers additional approved sterilization techniques.</li>

                        </ul>
                        <li>Distribution, Parts, and Services (A.7)</li>
                        <p style="margin-bottom: 0px;">Medical device quality management extends beyond manufacturing. It covers supply chain aspects such as:</p>
                        <ul>
                            <li>A.7.1 Raw Materials – Ensuring the quality of materials used in production.</li>
                            <li>A.7.2 Components – Verification of components for medical device assembly.</li>
                            <li>A.7.3 Subassemblies – Ensuring subassembled products meet quality standards.</li>
                            <li>A.7.4 Calibration Services – Regular calibration of medical devices and equipment.</li>
                            <li>A.7.5 Distribution Services – Ensuring safe transportation and handling.</li>
                            <li>A.7.6 Maintenance Services – Routine servicing of medical equipment.</li>
                            <li>A.7.7 Transportation Services – Compliance in transporting medical devices securely.</li>
                            
                        </ul>
                    </ul>

                </div>
            </div>
        </div>
       
    </div>




    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>ISO 13485 Requirements</h2>
            </div>
            <div class="section-para">
                <p>The Annex SL High-Level Structure of the ISO 22000 standard outlines the mandatory elements required for the successful establishment and implementation of a Food Safety Management System (FSMS) within an organization. These essential requirements are defined in Sections 4 through 10 of the Annex SL framework. The initial three sections primarily serve as an introduction, detailing the standard’s scope, normative references, and key terms and definitions. The subsequent seven sections, however, specify the core operational and management requirements necessary to ensure an effective and compliant FSMS.</p>
            </div>
            

            <!-- Custom Accordion -->
                <div class="custom-accordion" id="customAccordion">
                    <!-- Section 4 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Define the scope</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Clearly identify the purpose, target market, and intended use of the medical device. Consider relevant regional and international regulations to ensure the scope is comprehensive and compliant.</p>
                            </div>
                        </div>
                    </div>
                    
                
                    
                    <!-- Section 6 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Perform ISO 13485 Audit & analyze the gap</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Assess your existing Quality Management System (QMS) against ISO 13485 requirements. Identify any non-conformities or gaps that need to be addressed to achieve compliance.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Prepare a project plan</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Use insights from the gap analysis to create a corrective action plan. This plan should address all identified gaps and ensure alignment with ISO 13485 requirements as well as applicable regional regulations.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 8 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Maintain documentation</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Prepare and organize all mandatory documentation, including the Quality Manual, procedures, work instructions, and evidence of implementation. Proper documentation ensures audit readiness and demonstrates compliance.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 9 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Train your workforce</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Educate employees involved in medical device production on ISO 13485 requirements, including legal, regulatory, and procedural obligations, to ensure proper understanding and adherence.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Implementation</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Execute the established Medical Device Quality Management System (MD-QMS) for a minimum period of three months, documenting all processes and activities to demonstrate operational effectiveness.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Conduct an internal audit</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Perform internal audits to verify compliance with ISO 13485 requirements. Audits can be conducted by qualified internal personnel or an independent third party to identify and correct deviations.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Conduct a management review</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Evaluate the effectiveness of the QMS through a management review, ensuring that all processes, procedures, and corrective actions align with ISO 13485 standards.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Apply for ISO certification</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Engage an accredited certification body to conduct the formal audit of your QMS. Upon successful completion, your organization will be awarded ISO 13485 certification.</p>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
       
        
        
    </div>

<div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>PDCA Cycle</h2>
            </div>
            <div class="section-para">

                <div class="pdca-cycle">
                            <div class="pdca-step">
                                <h4>Plan</h4>
                                <p>To think that what do we need to achieve in our organization</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Do</h4>
                                <p>To execute a planned action which will help us achieve the required objective</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Check</h4>
                                <p>Monitor against the standards) (policies, objectives, requirements)</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Action</h4>
                                <p>Finally implementing what has been rechecked</p>
                            </div>
                </div>
            </div>
        </div>
        
    </div>



    

<div class="process">
    <div class="process-heading">
        <h2>Certification Process</h2>
        
    </div>
    <div class="process-chart">
        <div class="top">
            <div class="steps container">
                <!-- Step 1 -->
                <div class="step">
                    <div class="text">
                        <p>Step 1</p>
                    </div>
                    <div class="button">
                        <p>Get Compliant</p>
                        <div class="popup">
                            <h4>Get Compliant</h4>
                            <p>Get Compliant as per the requirements of the standard.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="step">
                    <div class="text">
                        <p>Step 2</p>
                    </div>
                    <div class="button">
                        <p>Apply</p>
                        <div class="popup">
                            <h4>Apply</h4>
                            <p>Application form needs to be filled.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 3 -->
                <div class="step">
                    <div class="text">
                        <p>Step 3</p>
                    </div>
                    <div class="button">
                        <p>Agreement</p>
                        <div class="popup">
                            <h4>Agreement</h4>
                            <p>Certification agreement needs to be signed as per ISO/IEC - 17021-1.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 4 -->
                <div class="step">
                    <div class="text">
                        <p>Step 4</p>
                    </div>
                    <div class="button">
                        <p>Stage 1 Audit</p>
                        <div class="popup">
                            <h4>Stage 1 Audit</h4>
                            <p>Review of documentation, scope verification & site verification.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 5 -->
                <div class="step">
                    <div class="text">
                        <p>Step 5</p>
                    </div>
                    <div class="button">
                        <p>Stage 2 Audit</p>
                        <div class="popup">
                            <h4>Stage 2 Audit</h4>
                            <p>Review of implementation as per the requirements of standard & documentation system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="steps container">
                <!-- Step 6 -->
                <div class="step">
                    <div class="text">
                        <p>Step 6</p>
                    </div>
                    <div class="button">
                        <p>Close Gaps</p>
                        <div class="popup">
                            <h4>Close Gaps</h4>
                            <p>The closure of the gaps identified in the audit needs to be closed.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 7 -->
                <div class="step">
                    <div class="text">
                        <p>Step 7</p>
                    </div>
                    <div class="button">
                        <p>Decision</p>
                        <div class="popup">
                            <h4>Decision</h4>
                            <p>Internal review of the closures & audits done for decision for issuance of the certificate.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 8 -->
                <div class="step">
                    <div class="text">
                        <p>Step 8</p>
                    </div>
                    <div class="button">
                        <p>Issuance</p>
                        <div class="popup">
                            <h4>Issuance</h4>
                            <p>The certificate is issued with the certification cycle of 3 years.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 9 -->
                <div class="step">
                    <div class="text">
                        <p>Step 9</p>
                    </div>
                    <div class="button">
                        <p>Surveillance</p>
                        <div class="popup">
                            <h4>Surveillance</h4>
                            <p>Mandatory audits to be conducted at equal intervals to verify the continued compliances.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 10 -->
                <div class="step">
                    <div class="text">
                        <p>Step 10</p>
                    </div>
                    <div class="button">
                        <p>Recertification</p>
                        <div class="popup">
                            <h4>Recertification</h4>
                            <p>Renewal of certification after completion of 3 years of cycle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button
                    this.classList.toggle('active');
                    
                    // Toggle active class on parent accordion item
                    const accordionItem = this.closest('.accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items if needed (optional)
                    // accordionButtons.forEach(otherButton => {
                    //     if (otherButton !== this) {
                    //         otherButton.classList.remove('active');
                    //         otherButton.closest('.accordion-item').classList.remove('active');
                    //     }
                    // });
                });
            });
        });
    </script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.question-accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button and parent accordion item
                    this.classList.toggle('active');
                    const accordionItem = this.closest('.question-accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items when one is opened (optional)
                    if (this.classList.contains('active')) {
                        accordionButtons.forEach(otherButton => {
                            if (otherButton !== this && otherButton.classList.contains('active')) {
                                otherButton.classList.remove('active');
                                otherButton.closest('.question-accordion-item').classList.remove('active');
                            }
                        });
                    }
                });
            });
        });
    </script>
    
        
    </body>
</html>

{% endblock %}


