{% extends 'base.html' %}
{% load static %}

{% block title %}ISO41001 - TIS Certification{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/ISO45001.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}


{% block content %}


        <div class="canvas">

    <div class="heading">
        <div class="heading-content container">

            <h1>ISO 45001</h1>
            <div class="bread">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="text-white">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" style="color: white;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" style="color: white;">ISO 45001 Certification</li>
                    </ol>
                </nav>
            </div>

        </div>



    </div>


</div>
<div class="content">
    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>About ISO 45001 Certification</h2>
        </div>
        <div class="section-para">
            <p>ISO 45001, also known as the Occupational Health and Safety Management System (OHSMS), provides a comprehensive framework to ensure the safety and well-being of employees. It is an international standard focused on process improvement, adopting a process-centered approach to quality management that spans the entire enterprise, including the customer experience. The standard equips organizations with a set of regulatory norms, enabling them to operate proactively rather than reactively. ISO 45001 also serves as a business localization tool, allowing organizations to understand how overall quality management supports marketing initiatives and facilitates supply chain management.</p>
            <p>The standard addresses four key dimensions: Process, Product, People, and Organization. ISO 45001 outlines the essential requirements for establishing a quality management system, emphasizing generic principles that help organizations optimize core processes to meet customer needs effectively. Additionally, it highlights four interrelated focus areas: People, Environment and Performance, Information and Communication, and Leadership.</p>
        </div>
        </div>

    </div>

    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>ISO 45001: Occupational Health & Safety Management System</h2>
        </div>
        <div class="section-para">
            <div class="gradiant-box">
                <p>ISO 45001:2018 Certification establishes the framework for implementing an Occupational Health and Safety Management System (OHSMS) within organizations. Published in March 2018, this standard focuses on preventing work-related injuries, illnesses, and hazards. It follows the common High-Level Structure (HLS) shared with ISO 9001:2015 and ISO 14001:2015, facilitating seamless integration with existing management systems.</p>
                <p style="margin-bottom: 0px;">As the successor to OHSAS 18001, ISO 45001 enables straightforward migration for organizations already certified under the previous standard. While the original three-year migration window received extensions due to the COVID-19 pandemic, organizations should note that ISO 45001 introduces significant enhancements beyond its predecessor, despite their common foundation.</p>

            </div>
        </div>
        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>ISO 45001:2018 – Successor to OHSAS 18001 Certification</h2>
        </div>
        <div class="section-para">
            <div class="gradiant-box">


                <p>ISO 45001:2018 Certification is the updated replacement for the earlier OHSAS 18001 standard. The revised standard simplifies the integration of the Occupational Health and Safety Management System (OHSMS) with other management systems, as it follows the new common structure, Annex SL, used in ISO 9001:2015 and ISO 14001:2015.</p>
                <p>Organizations seeking more information on ISO 45001:2018 and its differences from OHSAS 18001 can refer to detailed resources. For organizations already certified under OHSAS 18001, the original migration deadline to ISO 45001:2018 was 31st January.</p>
                <p style="margin-bottom: 0px;">However, due to the Covid-19 pandemic, this deadline has been extended. TIS Certifications has supported numerous organizations with online migration audits, as well as new ISO 45001 certification applications.</p>

            </div>
        </div>

        </div>

    </div>


    <!-----table----->


     <div class="section">
        <div class="sec-container container">
            <div class="section-heading">

            </div>
            <div class="section-para row">
                <div class="block-gradiant-box col-md-6 sm-12">
                    <div class="block-gradiant-box-card">
                        <h5><b>Significance of ISO 45001 Certification</b></h5>
                        <p>Obtaining ISO 45001 certification demonstrates your organization’s genuine commitment to the health and well-being of employees, clients, and other stakeholders. It builds trust and confidence among customers, staff, and the wider community by showing that your organization values safety and care as much as profitability.</p>
                    </div>

                </div>

                <div class="block-gradiant-box col-md-6 sm-12">
                    <div class="block-gradiant-box-card">
                        <h5><b>Evolution of ISO 45001 Compliance</b></h5>
                        <p>ISO 45001 is a globally recognized standard from the ISO 45000 family for occupational health and safety management. First introduced in 1989 and revised in 2018, it replaced OHSAS 18001, which was officially withdrawn by BSI in 2021. The current version is ISO 45001:2018.</p>
                    </div>

                </div>

                <div class="block-gradiant-box col-md-6 sm-12">
                    <div class="block-gradiant-box-card">
                        <h5><b>Why Apply for ISO 45001 Certification?</b></h5>
                        <p>ISO 45001 adopts a risk-based approach to ensure effective and continual improvement in managing occupational health and safety. It provides a framework to protect employees, identify risks and opportunities, and promote a proactive culture that addresses hazards, mitigates risks, and strengthens organizational safety systems.</p>
                    </div>

                </div>

                <div class="block-gradiant-box col-md-6 sm-12">
                    <div class="block-gradiant-box-card">
                        <h5><b>Why Choose ISO 45001 for Your Organization?</b></h5>
                        <p>ISO 45001 certification is designed to prevent work-related injuries, illnesses, and fatalities, creating a safer and healthier workplace. As a globally recognized standard, it sets an international benchmark for occupational health and safety management, benefiting organizations operating across borders.</p>
                    </div>

                </div>


            </div>
        </div>


    </div>



    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>ISO 45001: Key Elements</h2>
        </div>




             <!-- gradiant box tiny -->
        <div class="benefits-grid">
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-user-shield"></i></div>
                <b><p>Worker-safety</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-exclamation-triangle"></i></div>
                <b><p>Hazard-Management</p></b>
            </div>
            <div class="gradiant-box-tiny">
                 <div class="industry-icon"><i class="fas fa-arrow-down"></i></div>
                <b><p>Risk-Reduction</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-band-aid"></i></div>
                <b><p>Injury Prevention</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-stethoscope"></i></div>
                <b><p>Enhanced Occupational <br> Health Measures</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-gavel"></i></div>
                <b><p>Statutory Identification<br> and Compliance Evaluation</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-tachometer-alt"></i></div>
                <b><p>Improve Productivity</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-hands-helping"></i></div>
                <b><p>Enhance organizational<br> Safety Culture</p></b>
            </div>


        </div>
        <!-- gradiant box tiny -->


        </div>

    </div>



    <div class="section">
        <div class="sec-container container">
                <div class="section-heading">
                <h2>Why ISO 45001 is Essential for Workplace Safety</h2>
                </div>
                <div class="section-para">
                    <p>The International Organization for Standardization (ISO) developed ISO 45001 certification to enhance workplace productivity and effectiveness by ensuring a safe and healthy environment. Workplace incidents remain a significant concern:</p>
                    <ol>
                        <li>Every 15 seconds, a worker dies due to work-related accidents or illnesses.</li>
                        <li>Approximately 152 workplace incidents and injuries are reported worldwide every 15 seconds.</li>
                        <li>Each year, over 2.3 million fatalities and 300 million non-fatal workplace accidents occur globally.</li>
                    </ol>
                    <p>ISO 45001:2018 helps organizations reduce workplace incidents and accidents while fostering a productive and healthy work environment. Organizations without this certification often face challenges in managing safety risks, which can lead to decreased efficiency and productivity.</p>
                    <p>ISO 45001 (Occupational Health and Safety Management System) emphasizes that employee safety is crucial for organizational sustainability. By implementing this standard, organizations can create a safe and engaged workforce, ultimately strengthening organizational performance.</p>
                    <p>As an international standard, ISO 45001 specifies the requirements for an Occupational Health and Safety (OH&S) Management System. It provides a framework for identifying and controlling workplace hazards and risks, helping organizations enhance OH&S performance. First published in March 2018, the standard applies to organizations of any size or industry, supporting the creation of safer work environments and promoting continuous improvement in health and safety practices.</p>
                </div>
        </div>

    </div>

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Importance of ISO 45001 Certification for Occupational Health and Safety Management System (OHSMS)</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">

                    <p>ISO 45001 is an international standard for occupational health and safety management systems, providing guidance on designing, implementing, and maintaining effective management practices at all organizational levels. This certification is highly significant for businesses, as it establishes robust health and safety standards to protect employees, customers, and the workplace environment.</p>
                    <p>ISO 45001 adds value to organizations in several ways:</p>
                    <ul>
                        <li>It defines a structured management system to ensure the safety of employees, customers, and the work environment.</li>
                        <li>It provides a framework for identifying key operational areas and setting appropriate organizational goals.</li>
                        <li>It helps organizations understand customer requirements and identify critical success factors, enhancing overall customer satisfaction.</li>
                        <li>It supports companies in improving their management systems while ensuring compliance with legal, regulatory, and internal requirements.</li>
                        <li>It offers a framework of guidelines and requirements to develop standardized processes, procedures, and documentation, focusing on quality, productivity, and customer satisfaction.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


     <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Objectives of ISO 45001 Standards</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">

                    <p>Organizations pursue ISO 45001 certification to eliminate work-related risks and hazards, reducing the likelihood of incidents, injuries, and occupational diseases. The standard provides a structured and resilient framework, promoting a proactive approach to creating safe and healthy workplaces. Implementing ISO 45001 not only protects employees but also safeguards organizational operations, enhancing overall performance.</p>
                    <p>ISO 45001 also aligns with the United Nations’ Sustainable Development Goals by promoting responsible and accountable corporate practices. It focuses on protecting employee health and safety by identifying workplace hazards and mitigating associated risks.</p>
                    <p>To achieve certification, organizations must develop a comprehensive occupational health and safety management system that complies with ISO 45001 requirements. Appropriate tools, controls, and procedures are implemented to minimize workplace incidents, after which a certification body conducts an audit. Once certified, it becomes the organization’s responsibility to maintain ongoing compliance and continual improvement.</p>

                </div>
            </div>
        </div>

    </div>


<div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>ISO 45001 Certification: Who It’s For</h2>
        </div>
        <div class="section-para">
            <p>The standard’s flexibility makes it applicable to a wide range of organizations, regardless of their size or industry, including:</p>
        </div>



             <!-- gradiant box tiny -->
        <div class="benefits-grid">
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-building"></i></div>
                <b><p>Large Organizations<br>and Enterprises</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-store"></i></div>
                <b><p>Small and Medium-sized<br>Enterprises</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-university"></i></div>
                <b><p>Public and Not-for-profit<br>Organizations</p></b>
            </div>
            <div class="gradiant-box-tiny">
                <div class="industry-icon"><i class="fas fa-hands-helping"></i></div>
                <b><p>Non-government Organizations<br>(NGOs) and Charities</p></b>
            </div>

        </div>
        <!-- gradiant box tiny -->


        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>Benefits of ISO 45001 - Health & Safety Certification</h2>
        </div>
        <div class="section-para">

            <div class="benefits-grid">
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-crown"></i></div>
                    <h3>Industry Leadership</h3>
                    <p>Positions your business as an industry leader</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-user-tie"></i></div>
                    <h3>Accountable Management</h3>
                    <p>Makes the management responsible</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-bullseye"></i></div>
                    <h3>Core Focus</h3>
                    <p>Helps you focus on your core business</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-chess-board"></i></div>
                    <h3>Risk Management</h3>
                    <p>Deals with risk and opportunities</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-chart-line"></i></div>
                    <h3>Enhanced ROI</h3>
                    <p>Increases return on investment (ROI)</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-cogs"></i></div>
                    <h3>Operational Efficiency</h3>
                    <p>Ensures efficiency through consistency</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-heartbeat"></i></div>
                    <h3>Health & Safety</h3>
                    <p>Ensures individual's health and safety</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-piggy-bank"></i></div>
                    <h3>Cost Savings</h3>
                    <p>Helps obtain insurance at lower rates</p>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-handshake"></i></div>
                    <h3>Trust & Credibility</h3>
                    <p>Makes you <br>trustworthy</p>
                </div>
            </div>



        </div>
        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>Advantages of ISO 45001 Certification</h2>
        </div>
        <div class="section-para">

            <div class="benefits-grid">
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-hard-hat"></i></div>
                    <h3>Increases protection at work place</h3>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-chess-knight"></i></div>
                    <h3>Enhanced Competitiveness</h3>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-arrow-down"></i></div>
                    <h3>Reduced Organizational Risk</h3>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-award"></i></div>
                    <h3>Excellent Market Reputation</h3>
                </div>
                <div class="benefit-card">
                    <div class="card-icon"><i class="fas fa-user-check"></i></div>
                    <h3>Improved Employee Motivation</h3>
                </div>

            </div>

        </div>
        </div>

    </div>




    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Role of ISO 45001 in Achieving the UN Sustainable Development Goals</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">

                    <p>Organizations pursue ISO 45001 certification to eliminate work-related risks and hazards, reducing the likelihood of incidents, injuries, and occupational diseases. The standard provides a structured and resilient framework, promoting a proactive approach to creating safe and healthy workplaces. Implementing ISO 45001 not only protects employees but also safeguards organizational operations, enhancing overall performance.</p>
                    <p>ISO 45001 also aligns with the United Nations’ Sustainable Development Goals by promoting responsible and accountable corporate practices. It focuses on protecting employee health and safety by identifying workplace hazards and mitigating associated risks.</p>
                    <p>To achieve certification, organizations must develop a comprehensive occupational health and safety management system that complies with ISO 45001 requirements. Appropriate tools, controls, and procedures are implemented to minimize workplace incidents, after which a certification body conducts an audit. Once certified, it becomes the organization’s responsibility to maintain ongoing compliance and continual improvement.</p>

                </div>
            </div>
        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Benefits of Implementing ISO 45001 within an Organisation</h2>
            </div>
            <div class="section-para">
                <p>ISO 45001 certification offers numerous benefits, including enhanced safety performance, fewer workplace accidents and injuries, and reduced insurance costs. It also demonstrates a strong commitment to employee safety, which can strengthen your organization’s reputation and help attract new business opportunities.</p>
                <p>As a voluntary standard, ISO 45001 allows organizations to implement a safety management system tailored to their specific needs, without legal or regulatory obligation.</p>
                <p>Moreover, ISO 45001 is internationally recognized, providing a valuable credential that enhances your organization’s credibility and competitiveness in the global marketplace.</p>

            </div>
        </div>
    </div>


     <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Getting Certified to ISO 45001 Certification</h2>
            </div>
            <div class="section-para">
                <p>Once your Occupational Health and Safety Management System (OHSMS) is developed in accordance with ISO 45001, the certification process is straightforward. While the International Organization for Standardization (ISO) publishes the standards, certification is conducted by an accredited external ISO certification body. The basic steps for obtaining ISO 45001 certification are as follows:</p>
                <ol>
                    <li>Develop and implement an ISO 45001-compliant management system.</li>
                    <li>Schedule an audit with an accredited certification body.</li>
                    <li>Audit review: An auditor evaluates your processes to ensure compliance with ISO 45001 requirements.</li>
                    <li>Address gaps: Resolve any non-conformities identified during the audit.</li>
                    <li>Certification: Once all requirements are met, the organization is formally certified to ISO 45001.</li>

                </ol>
                <p>This structured approach ensures that your organization maintains compliance and demonstrates its commitment to occupational health and safety.</p>

            </div>
        </div>
    </div>

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Cost of ISO 45001 Certification</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">

                    <p>The cost of ISO 45001 certification services varies depending on several factors, including the size of your organization, the number of branches, the total number of employees, and other organizational specifics.</p>
                    <p>Certification costs also depend on the chosen certification body, making it important to select a reputable and accredited provider. TIS Certifications is a leading ISO certification body, internationally accredited by IOAS and IAS. Our team of auditors and technical experts is dedicated to helping organizations manage risks effectively while gaining access to global markets.</p>


                </div>
            </div>
        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>ISO 45001 Certification Requirements</h2>
            </div>
            <div class="section-para">
                <p>The ISO 45001 Occupational Health and Safety Management System (OH&SMS) Certification outlines the essential requirements for establishing an effective management system. These requirements are organized into ten sections (Sections 1 to 10) and are structured around the Plan-Do-Check-Act (PDCA) framework to ensure continuous improvement and operational efficiency.</p>
                <p>The ISO 45001 certification requirements checklist, structured around the Plan-Do-Check-Act (PDCA) cycle, is outlined as follows:</p>
                <ul>
                    <li>Sections 1 to 6 correspond to the Planning phase.</li>
                    <li>Sections 1 to 3 serve as the introductory sections.</li>
                    <li>Sections 7 and 8 relate to the Implementation (Do) phase.</li>
                    <li>Section 9 pertains to the Evaluation (Check) phase.</li>
                    <li>Section 10 represents the Improvement (Act) phase.</li>
                </ul>
            </div>


            <!-- Custom Accordion -->
                <div class="custom-accordion" id="customAccordion">
                    <!-- Section 4 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Context of the Organization</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>The organization must identify all internal and external factors that may influence its operations. This helps define the scope of the Occupational Health and Safety (OH&S) policy and supports the establishment of an effective OH&S management framework.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 5 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Leadership and Worker Participation</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>Top management is responsible for implementing a robust OH&S policy. It is vital to communicate the organization’s vision and policies clearly across all levels and foster employee engagement to build a strong and effective management system.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 6 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Planning</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This stage emphasizes a proactive approach to identifying and addressing potential risks and opportunities. The organization should develop strategies to minimize risks, leverage opportunities, and ensure a safe and sustainable work environment.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Support</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>The organization must allocate the necessary resources, including human, financial, and material, to effectively maintain the management system. It should ensure employees are competent through adequate training, education, and experience to fulfill their roles efficiently.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 8 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Operation</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This involves defining and documenting operational processes and implementing control measures to manage and eliminate workplace hazards. It ensures that all occupational health and safety risks are properly addressed through structured procedures and policies.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 9 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Performance Evaluation</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>ISO 45001 requires organizations to monitor, measure, and analyze their processes to identify areas of nonconformity. It also assesses overall OH&S performance to determine opportunities for improvement and ensure compliance with set objectives.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Improvement</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This stage focuses on implementing corrective and preventive actions to enhance the effectiveness of the OH&S management system. It promotes a culture of continuous improvement and encourages active worker participation in advancing workplace health and safety.</p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



    </div>

<div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>PDCA Cycle</h2>
            </div>
            <div class="section-para">

                <div class="pdca-cycle">
                            <div class="pdca-step">
                                <h4>Plan</h4>
                                <p>To think that what do we need to achieve in our organization</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Do</h4>
                                <p>To execute a planned action which will help us achieve the required objective</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Check</h4>
                                <p>Monitor against the standards) (policies, objectives, requirements)</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Action</h4>
                                <p>Finally implementing what has been rechecked</p>
                            </div>
                </div>
            </div>
        </div>

    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>ISO 45001 Frequently Asked Questions (FAQs)</h2>
            </div>


            <!-- Modern Accordion -->
        <div class="question-accordion" id="questionAccordion">
            <!-- Section 1 -->
            <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        Why is ISO 45001 certification important for an organization?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>ISO 45001 certification demonstrates an organization’s commitment to identifying and controlling workplace risks and hazards to prevent accidents, injuries, illnesses, and fatalities. It ensures the creation of safe and healthy working environments for employees, customers, suppliers, and stakeholders. Furthermore, ISO 45001-certified organizations maintain compliance with relevant laws, regulations, and standards, reinforcing their dedication to occupational health and safety excellence.</p>
                    </div>
                </div>
            </div>

            <!-- Section 2 -->
            <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        What are the benefits of ISO 45001 training?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>ISO 45001 training equips individuals with the knowledge and skills required to understand Occupational Health and Safety Management System (OHSMS) standards. It enables participants to effectively implement OH&S requirements and conduct ISO 45001 audits to assess and ensure compliance within an organization.</p>
                    </div>
                </div>
            </div>

            <!-- Section 3 -->
            <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        How does ISO 45001 certification impact your business?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>ISO 45001 is an internationally recognized Occupational Health and Safety Management System (OHSMS) standard that demonstrates an organization’s commitment to maintaining a safe and healthy work environment. It ensures compliance with relevant laws, regulations, and standards while integrating global best practices to enhance operational performance. By reducing workplace accidents, injuries, and fatalities, ISO 45001 improves organizational efficiency, removes trade barriers, and strengthens market reputation, ultimately boosting profitability and business growth.</p>
                    </div>
                </div>
            </div>

            <!-- Section 4 -->
            <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        What are the key benefits of obtaining ISO 45001 certification?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>Achieving ISO 45001 certification offers significant advantages, primarily by building trust and enhancing your organization's reputation. As a globally recognized, third-party verified credential, it demonstrates your commitment to employee well-being, proving to customers, stakeholders, and staff that you have a systematic approach to ensuring a safe and healthy work environment. This not only boosts your credibility but also actively helps in reducing workplace risks and hazards.</p>
                    </div>
                </div>
            </div>

            <!-- Section 5 -->
            <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        How long does it typically take to implement ISO 45001?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>The timeline for implementing an ISO 45001 management system varies significantly by organization. The primary factors influencing the duration are the company's size, complexity, and existing health & safety processes. However, a typical implementation often ranges from 3 to 12 months.</p>
                    </div>
                </div>
            </div>

            <!-- Section 6 -->
           <div class="question-accordion-item">
                <div class="question-accordion-header">
                    <button class="question-accordion-button">
                        Is ISO 45001 certification applicable to human factors?
                        <i class="fas fa-chevron-down"></i>
                    </button>
                </div>
                <div class="question-accordion-content">
                    <div class="question-accordion-body">
                        <p>Yes, human factors are a key element of occupational health and safety. The ISO 45001 framework requires organizations to integrate the management of these human-related risks into their overall safety system.</p>
                    </div>
                </div>
            </div>
        </div>


            </div>



    </div>










<div class="process">
    <div class="process-heading">
        <h2>Certification Process</h2>

    </div>
    <div class="process-chart">
        <div class="top">
            <div class="steps container">
                <!-- Step 1 -->
                <div class="step">
                    <div class="text">
                        <p>Step 1</p>
                    </div>
                    <div class="button">
                        <p>Get Compliant</p>
                        <div class="popup">
                            <h4>Get Compliant</h4>
                            <p>Get Compliant as per the requirements of the standard.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="step">
                    <div class="text">
                        <p>Step 2</p>
                    </div>
                    <div class="button">
                        <p>Apply</p>
                        <div class="popup">
                            <h4>Apply</h4>
                            <p>Application form needs to be filled.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 3 -->
                <div class="step">
                    <div class="text">
                        <p>Step 3</p>
                    </div>
                    <div class="button">
                        <p>Agreement</p>
                        <div class="popup">
                            <h4>Agreement</h4>
                            <p>Certification agreement needs to be signed as per ISO/IEC - 17021-1.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 4 -->
                <div class="step">
                    <div class="text">
                        <p>Step 4</p>
                    </div>
                    <div class="button">
                        <p>Stage 1 Audit</p>
                        <div class="popup">
                            <h4>Stage 1 Audit</h4>
                            <p>Review of documentation, scope verification & site verification.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 5 -->
                <div class="step">
                    <div class="text">
                        <p>Step 5</p>
                    </div>
                    <div class="button">
                        <p>Stage 2 Audit</p>
                        <div class="popup">
                            <h4>Stage 2 Audit</h4>
                            <p>Review of implementation as per the requirements of standard & documentation system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="steps container">
                <!-- Step 6 -->
                <div class="step">
                    <div class="text">
                        <p>Step 6</p>
                    </div>
                    <div class="button">
                        <p>Close Gaps</p>
                        <div class="popup">
                            <h4>Close Gaps</h4>
                            <p>The closure of the gaps identified in the audit needs to be closed.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 7 -->
                <div class="step">
                    <div class="text">
                        <p>Step 7</p>
                    </div>
                    <div class="button">
                        <p>Decision</p>
                        <div class="popup">
                            <h4>Decision</h4>
                            <p>Internal review of the closures & audits done for decision for issuance of the certificate.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 8 -->
                <div class="step">
                    <div class="text">
                        <p>Step 8</p>
                    </div>
                    <div class="button">
                        <p>Issuance</p>
                        <div class="popup">
                            <h4>Issuance</h4>
                            <p>The certificate is issued with the certification cycle of 3 years.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 9 -->
                <div class="step">
                    <div class="text">
                        <p>Step 9</p>
                    </div>
                    <div class="button">
                        <p>Surveillance</p>
                        <div class="popup">
                            <h4>Surveillance</h4>
                            <p>Mandatory audits to be conducted at equal intervals to verify the continued compliances.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 10 -->
                <div class="step">
                    <div class="text">
                        <p>Step 10</p>
                    </div>
                    <div class="button">
                        <p>Recertification</p>
                        <div class="popup">
                            <h4>Recertification</h4>
                            <p>Renewal of certification after completion of 3 years of cycle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.accordion-button');

            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button
                    this.classList.toggle('active');

                    // Toggle active class on parent accordion item
                    const accordionItem = this.closest('.accordion-item');
                    accordionItem.classList.toggle('active');

                    // Close other accordion items if needed (optional)
                    // accordionButtons.forEach(otherButton => {
                    //     if (otherButton !== this) {
                    //         otherButton.classList.remove('active');
                    //         otherButton.closest('.accordion-item').classList.remove('active');
                    //     }
                    // });
                });
            });
        });
    </script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.question-accordion-button');

            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button and parent accordion item
                    this.classList.toggle('active');
                    const accordionItem = this.closest('.question-accordion-item');
                    accordionItem.classList.toggle('active');

                    // Close other accordion items when one is opened (optional)
                    if (this.classList.contains('active')) {
                        accordionButtons.forEach(otherButton => {
                            if (otherButton !== this && otherButton.classList.contains('active')) {
                                otherButton.classList.remove('active');
                                otherButton.closest('.question-accordion-item').classList.remove('active');
                            }
                        });
                    }
                });
            });
        });
    </script>


    </body>
</html>

{% endblock %}
