{% extends 'base.html' %}
{% load static %}

{% block title %}ISO41001 - TIS Certification{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/ISO50001.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}


{% block content %}

        <div class="canvas">

    <div class="heading">
        <div class="heading-content container">

            <h1>ISO 50001</h1>
            <div class="bread">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="text-white">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" style="color: white;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" style="color: white;">ISO 50001 Certification</li>
                    </ol>
                </nav>
            </div>

        </div>



    </div>


</div>
<div class="content">
    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
            <h2>ISO 50001:2018 - Energy Management System</h2>
        </div>
        <div class="section-para">
            <p><b>Take a Step Toward Sustainable Development with ISO 50001</b></p>
            <p>ISO 50001:2018 Certification provides a comprehensive framework for implementing an Energy Management System (EnMS) within an organization. As an internationally recognized standard published in 2018, it enables organizations worldwide to adopt best practices in energy management and improve overall energy performance.</p>
            <p>Research indicates that adopting ISO 50001:2018 can deliver significant environmental and financial benefits. By 2030, widespread implementation of this standard could achieve cumulative energy savings of 62 exajoules, reduce CO₂ emissions by approximately 6,500 megatonnes, and generate energy cost savings of up to $600 billion. Thus, ISO 50001 not only contributes to environmental sustainability but also offers substantial economic advantages for organizations.</p>
            <p>Since the Industrial Revolution, global temperatures have steadily increased, raising concerns over climate change. In response, governments are enacting regulations to curb high carbon-emission activities and promote sustainable practices. This growing environmental awareness has heightened the demand for robust energy management systems, making ISO 50001:2018 an essential standard for organizations seeking to minimize their carbon footprint and operate sustainably.</p>
            
        </div>
        </div>
        
    </div>


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Importance of ISO 50001 Certification</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    <ul>
                        <li>Implementing the ISO 50001 standard helps organizations minimize energy consumption while boosting operational efficiency and overall productivity.</li>
                        <li>ISO 50001 offers an excellent return on investment, as effective implementation enhances both energy and cost savings, leading to long-term financial benefits.</li>
                        <li>Since ISO 50001 follows the same High-Level Structure (HLS) as ISO 9001 and ISO 14001, it can be easily integrated with these management systems, simplifying implementation and maintenance.</li>
                        <li>With its worldwide acceptance, ISO 50001 is truly a universal standard that enhances credibility and opens new business opportunities in global markets.</li>
                        <li>By aligning with international climate commitments such as the COP 21 agenda, ISO 50001 promotes innovation and embeds energy-efficient practices into everyday operations, fostering a culture of responsible energy use.</li>



                    
                    </ul>
                </div>
            </div>
        </div>
       
    </div>

    <div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>Principles of ISO 50001 Certifications</h2>
            </div>
            <div class="section-para section-card">
                

                <div class="card-body">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Customer focus</h5>
                                    <p class="mb-0">Strive to enhance customer satisfaction by understanding and meeting their needs and expectations. Continuous monitoring helps retain clients, attract new ones, and strengthen long-term relationships.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Leadership</h5>
                                    <p class="mb-0">Leaders should establish a clear vision and align strategies, policies, and resources. Building a culture of trust, empowerment, and accountability ensures effective coordination and quality performance.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Engagement of People</h5>
                                    <p class="mb-0">Involve individuals at all organizational levels by communicating objectives, recognizing contributions, and encouraging collaboration to improve learning, efficiency, and innovation.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Process Approach</h5>
                                    <p class="mb-0">Manage activities as interconnected processes to enhance efficiency and output quality. Understanding capabilities and constraints before execution leads to consistent, predictable results.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Improvement</h5>
                                    <p class="mb-0">Continuous improvement is essential to sustain success. Regular reviews, training, and audits foster innovation, mitigate risks, and strengthen overall performance and adaptability.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Evidence-based Decisions</h5>
                                    <p class="mb-0">Make decisions based on data and factual analysis. Evaluating information systematically ensures reliable outcomes while also considering experience and intuition.</p>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <div class="principle-box">
                                    <h5>Relationship Management</h5>
                                    <p class="mb-0">Build and maintain mutually beneficial relationships with suppliers and stakeholders. Effective collaboration ensures stability, trust, and consistent delivery of quality services.</p>
                                </div>
                            </div>
                            
                        </div>
                        
            
            </div>
        </div>
        
    </div>
    </div>

    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Benefits of ISO 50001 Certification</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    <p>Adopting an Energy Management System (EnMS) can be a strategic move for organizations aiming to achieve substantial energy savings, minimize risks, enhance competitiveness, and strengthen their market reputation. Since each country enforces its own regulations to reduce carbon emissions, obtaining ISO 50001 certification enables organizations to effectively comply with these environmental legislations while promoting sustainable growth.</p>
                </div>
            </div>
        </div>
       
    </div>




    


    <div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>ISO 50001 Requirements</h2>
            </div>
            <div class="section-para">
                <p>The requirements for implementing ISO 50001 are outlined in the ten clauses of Annex SL within the High-Level Structure (HLS). These clauses are explained below:</p>
            </div>
            

            <!-- Custom Accordion -->
                <div class="custom-accordion" id="customAccordion">
                    <!-- Section 4 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 1 – Scope:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause defines the overall scope of the standard, focusing on the planning, implementation, maintenance, and continual improvement of the Energy Management System (EnMS).</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 5 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 2 – Normative References:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause is retained to ensure consistency with the numbering and structure of other ISO management system standards.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 6 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 3 – Terms and Definitions:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This section provides definitions of key terms and concepts that are specific to ISO 50001, ensuring a clear understanding of the standard’s terminology.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 7 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 4 – Context of the Organization:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause addresses the identification of internal and external factors that influence the EnMS. It also considers the needs and expectations of stakeholders and other interested parties relevant to the organization.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 8 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 5 – Leadership:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause emphasizes the responsibilities of top management in the successful implementation of the EnMS. It highlights leadership’s role in integrating energy management into the organization’s strategic direction and ensuring effective communication of policies and objectives across all levels.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 9 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 6 – Planning:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause outlines the process for identifying and addressing risks and opportunities related to the EnMS. It also requires organizations to establish clear energy objectives and targets aligned with their strategic goals.</p>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 7 – Support:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause focuses on the resources necessary for the effective functioning of the EnMS. It covers workforce competence, training requirements, and the maintenance of documented information essential for the system’s proper execution.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Section 11 -->
                     <!-- Section 10 -->
                    <div class="accordion-item">
                        <div class="accordion-header">
                            <button class="accordion-button">Clause 8 – Operation:</button>
                        </div>
                        <div class="accordion-content">
                            <div class="accordion-body">
                                <p>This clause covers operational planning and control, including design and procurement processes, to ensure that the EnMS operates effectively and meets all certification requirements.</p>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
       
        
        
    </div>


<div class="section">
        <div class="sec-container container">
             <div class="section-heading">
            <h2>Why Certify Your Energy Management System to ISO 50001?</h2>
            </div>
            <div class="section-para">
                <div class="gradiant-box">
                    <p>Certifying your Energy Management System (EnMS) to ISO 50001 offers significant advantages for your organization. The certification serves as evidence that your organization has strategically and systematically implemented effective energy management practices aimed at reducing its carbon footprint. It also reflects a strong commitment to environmental sustainability and responsible energy use.</p>
                    <p><b>Key benefits of ISO 50001 certification include:</b></p>
                    <ul>
                        <li>Enhanced energy performance through improved efficiency and optimized energy consumption.</li>
                        <li>Reduced environmental impact by lowering greenhouse gas emissions without disrupting normal business operations.</li>
                        <li>Continual improvement of the Energy Management System to ensure long-term sustainability and effectiveness.</li>
                        <li>Comprehensive energy monitoring through consistent measurement, documentation, reporting, and benchmarking of energy usage.</li>
                        <li>Strengthened market reputation by demonstrating your organization’s proactive approach to energy performance and environmental responsibility.</li>
                    </ul>
                    
                </div>
            </div>
        </div>
       
    </div>

<div class="section">
        <div class="sec-container container">
            <div class="section-heading">
                <h2>PDCA Cycle</h2>
            </div>
            <div class="section-para">

                <div class="pdca-cycle">
                            <div class="pdca-step">
                                <h4>Plan</h4>
                                <p>To think that what do we need to achieve in our organization</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Do</h4>
                                <p>To execute a planned action which will help us achieve the required objective</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Check</h4>
                                <p>Monitor against the standards) (policies, objectives, requirements)</p>
                            </div>
                            <div class="pdca-step">
                                <h4>Action</h4>
                                <p>Finally implementing what has been rechecked</p>
                            </div>
                </div>
            </div>
        </div>
        
    </div>



    

<div class="process">
    <div class="process-heading">
        <h2>Certification Process</h2>
        
    </div>
    <div class="process-chart">
        <div class="top">
            <div class="steps container">
                <!-- Step 1 -->
                <div class="step">
                    <div class="text">
                        <p>Step 1</p>
                    </div>
                    <div class="button">
                        <p>Get Compliant</p>
                        <div class="popup">
                            <h4>Get Compliant</h4>
                            <p>Get Compliant as per the requirements of the standard.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 2 -->
                <div class="step">
                    <div class="text">
                        <p>Step 2</p>
                    </div>
                    <div class="button">
                        <p>Apply</p>
                        <div class="popup">
                            <h4>Apply</h4>
                            <p>Application form needs to be filled.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 3 -->
                <div class="step">
                    <div class="text">
                        <p>Step 3</p>
                    </div>
                    <div class="button">
                        <p>Agreement</p>
                        <div class="popup">
                            <h4>Agreement</h4>
                            <p>Certification agreement needs to be signed as per ISO/IEC - 17021-1.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 4 -->
                <div class="step">
                    <div class="text">
                        <p>Step 4</p>
                    </div>
                    <div class="button">
                        <p>Stage 1 Audit</p>
                        <div class="popup">
                            <h4>Stage 1 Audit</h4>
                            <p>Review of documentation, scope verification & site verification.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 5 -->
                <div class="step">
                    <div class="text">
                        <p>Step 5</p>
                    </div>
                    <div class="button">
                        <p>Stage 2 Audit</p>
                        <div class="popup">
                            <h4>Stage 2 Audit</h4>
                            <p>Review of implementation as per the requirements of standard & documentation system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="steps container">
                <!-- Step 6 -->
                <div class="step">
                    <div class="text">
                        <p>Step 6</p>
                    </div>
                    <div class="button">
                        <p>Close Gaps</p>
                        <div class="popup">
                            <h4>Close Gaps</h4>
                            <p>The closure of the gaps identified in the audit needs to be closed.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 7 -->
                <div class="step">
                    <div class="text">
                        <p>Step 7</p>
                    </div>
                    <div class="button">
                        <p>Decision</p>
                        <div class="popup">
                            <h4>Decision</h4>
                            <p>Internal review of the closures & audits done for decision for issuance of the certificate.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 8 -->
                <div class="step">
                    <div class="text">
                        <p>Step 8</p>
                    </div>
                    <div class="button">
                        <p>Issuance</p>
                        <div class="popup">
                            <h4>Issuance</h4>
                            <p>The certificate is issued with the certification cycle of 3 years.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 9 -->
                <div class="step">
                    <div class="text">
                        <p>Step 9</p>
                    </div>
                    <div class="button">
                        <p>Surveillance</p>
                        <div class="popup">
                            <h4>Surveillance</h4>
                            <p>Mandatory audits to be conducted at equal intervals to verify the continued compliances.</p>
                        </div>
                    </div>
                </div>

                <!-- Step 10 -->
                <div class="step">
                    <div class="text">
                        <p>Step 10</p>
                    </div>
                    <div class="button">
                        <p>Recertification</p>
                        <div class="popup">
                            <h4>Recertification</h4>
                            <p>Renewal of certification after completion of 3 years of cycle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button
                    this.classList.toggle('active');
                    
                    // Toggle active class on parent accordion item
                    const accordionItem = this.closest('.accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items if needed (optional)
                    // accordionButtons.forEach(otherButton => {
                    //     if (otherButton !== this) {
                    //         otherButton.classList.remove('active');
                    //         otherButton.closest('.accordion-item').classList.remove('active');
                    //     }
                    // });
                });
            });
        });
    </script>

     <script>
        document.addEventListener('DOMContentLoaded', function() {
            const accordionButtons = document.querySelectorAll('.question-accordion-button');
            
            accordionButtons.forEach(button => {
                button.addEventListener('click', function() {
                    // Toggle active class on button and parent accordion item
                    this.classList.toggle('active');
                    const accordionItem = this.closest('.question-accordion-item');
                    accordionItem.classList.toggle('active');
                    
                    // Close other accordion items when one is opened (optional)
                    if (this.classList.contains('active')) {
                        accordionButtons.forEach(otherButton => {
                            if (otherButton !== this && otherButton.classList.contains('active')) {
                                otherButton.classList.remove('active');
                                otherButton.closest('.question-accordion-item').classList.remove('active');
                            }
                        });
                    }
                });
            });
        });
    </script>
    
        
    </body>
</html>


{% endblock %}

